
<div class="row">
  <div class="col-md-8">
  <h2> Your applications </h2>
  <div class="media">
   <div class="media-body">
     <h4 class="media-heading">
     <% @registered_applications.each do |app| %>
     <% if app.user_id == current_user.id %>
      <h4>Name: <%= app.name %> | url: <%= app.url %></h4>
      <h4>Events Summary</h4>
      <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
      <%= pie_chart app.events.group(:name).count, download: true, legend: "right" %>
      <%= line_chart app.events.group_by_day(:created_at).count, xtitle: "Date", ytitle: "Number of events", download: true %>
      <h4>Manage <%= app.name %> </h4>
      <%= link_to "Edit", edit_registered_application_path(app), class: 'btn btn-success' %>
      <%= link_to "Delete", app, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this application?' } %>
     <% end %>
     <% end %>
    </div>
   </div>
  </div>
</div>

<div class="row">
     <div class="col-md-8">
       <div class="media">
        <div class="media-body">
          <h4 class="media-heading">
      <%= link_to "Create New", new_registered_application_path(@registered_application), class: 'btn btn-success' %>
     </div>
   </div>
 </div>
</div>
